<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Osteoporosis Prediction</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        body {
            transform: scale(0.5);
            transform-origin: top left;
            width: 200%;
        }
        
        
    </style>
</head>
<body>
    <header>
        <a href="#" class="logo">Osteoporosis Prediction</a>
        <nav id="nav-menu">
            <a href="/" class="active">Home</a>
            <a href="/introduction">Introduction</a>
            <a href="/prediction">Prediction</a>
        </nav>
        <button class="menu-button">
            <i class="fas fa-bars"></i>
        </button>
    </header>
</body>

    <section id="home" class="home">
        <div class="home-content">
            <h1> AIMS Math</h1>
            <h3 class="typing-text"><span id="typing"></span></h3>
            <p>โรคกระดูกพรุน (Osteoporosis) เป็นโรคที่ทำให้กระดูกเปราะบางและเสี่ยงต่อการหัก 
                การทำนายความเสี่ยงของโรคนี้เป็นสิ่งสำคัญเพื่อการวินิจฉัยและรักษาที่แม่นยำ 
                ในงานวิจัยนี้ เราจะศึกษาการประยุกต์ใช้ ปัญหาการรวมเชิงความแปรผัน 
                (Variational Inclusion Problems) และ แผนที่แบบกึ่งไม่ขยาย 
                (Quasi-Nonexpansive Mappings) เพื่อพัฒนาโมเดลการทำนายความเสี่ยงของโรคกระดูกพรุน 
                โดยใช้ข้อมูลทางการแพทย์ เช่น ความหนาแน่นของกระดูกเพื่อให้ได้ผลลัพธ์ที่แม่นยำและมีประสิทธิภาพในการประเมินความเสี่ยง</p>
            <div class="social-icons">
            </div>
            <a href="https://www.aimspress.com/article/doi/10.3934/math.2025118"  target="_blank" class="btn">Research</a>
        </div>
    </section>
    <section id="Prepared-By" class="container">
        <h1> Prepared By</h1>
        <div class="Prepared-By">
            <h2>Supporter By</h2>
            <div class="student-info">
                <div class="student">
                    <a href="https://www.nrct.go.th/home" target="_blank">
                        <img src="https://i.postimg.cc/CM9Kq4Qs/Screenshot-2025-03-10-215952.png"  alt="University Student 1.1">
                    </a>
                    <p>สำนักงานการวิจัยแห่งชาติ (วช.)
                        NATIONAL RESEARCH COUNCIL OF THAILAND
                    </p>
                </div>

                <div class="student">
                    <a href="https://www.tsri.or.th" target="_blank">
                        <img src="https://i.postimg.cc/YCnZvdXp/Screenshot-2025-03-10-220017.png" alt="University Student 2.2">
                    </a>
                    <p>สำนักงานคณะกรรมการส่งเสริมวิทยาศาสตร์ วิจัยและนวัตกรรม</p> 
                </div>
            </div>
        </div>

        <div class="Prepared-By">
            <h2>Supervisor</h2>
            <div class="student-info">
                <div class="student">
                    <a href="https://postimages.org/" target="_blank">
                        <img src="https://i.postimg.cc/jSz86PC0/2025-03-09-2-31-22-PM.png" alt="High School Certificate">
                    </a>
                    <p>Prasit Cholamjiak</p>
                    <p>Department of Mathematics, School of Science, University of Phayao, Thailand</p>
                </div>

                <div class="student">
                    <a href="https://postimages.org/" target="_blank">
                        <img src="https://i.postimg.cc/Jzw6BPr5/2025-03-09-2-31-46-PM.png" alt="Certificate 2">
                    </a>
                    <p>Watcharaporn Cholanjiak</p>
                    <p>Department of Mathematics, School of Science, University of Phayao, Thailand</p>
                </div>

                <div class="student">
                    <a href="https://postimages.org/" target="_blank">
                        <img src="https://i.postimg.cc/76BtG4h5/2025-03-09-2-33-20-PM.png" alt="Certificate 3">
                    </a>
                    <p>Kanokwatt Shiangjen</p>
                    <p>School of Information and Communication Technology, University of Phayao, Thailand</p>
                </div>
            </div>
        </div>

        <div class="Prepared-By">
            <h2>Prepared By</h2>
            <div class="student-info">
                <div class="student">
                    <a href="https://postimages.org/" target="_blank">
                        <img src="https://i.postimg.cc/QxVLJG6D/Screenshot-2025-03-09-194321.png" alt="University Student 1">
                    </a>
                    <p>Jakkaphong Inpan</p>
                    <p>B.D. Student, Department of Data Science and Application, School of Information and Communication Technology, University of Phayao</p>
                </div>

                <div class="student">
                    <a href="https://postimages.org/" target="_blank">
                        <img src="https://i.postimg.cc/7L8p4CqP/Screenshot-2025-03-09-194341.png" alt="University Student 2">
                    </a>
                    <p>Phisit Katongtung</p>
                    <p>B.D. Student, Department of Data Science and Application, School of Information and Communication Technology, University of Phayao</p>
                </div>
            </div>
        </div>
    </section>

    <script src="/static/script.js"></script>
</body>
</html>